rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /posts/{postId} {
      // Anyone can read posts
      allow read: if true;

      // Only the authenticated admin client can create or delete posts
      allow create, delete: if request.auth != null && 
                            request.auth.token.email != null &&
                            request.auth.token.email in ["mdhassan1738@gmail.com", "alifraja404@gmail.com", "mdnoor4860@gmail.com", "Alifraja404@gmail.com", "Mdnoor4860@gmail.com", "AlifRaja404@gmail.com", "MdNoor4860@gmail.com"];

      // Anyone can update likes, dislikes, or views to react to/view posts, but only admin can update any other fields
      allow update: if (request.auth != null && request.auth.token.email != null && request.auth.token.email in ["mdhassan1738@gmail.com", "alifraja404@gmail.com", "mdnoor4860@gmail.com", "Alifraja404@gmail.com", "Mdnoor4860@gmail.com", "AlifRaja404@gmail.com", "MdNoor4860@gmail.com"]) ||
                    (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes', 'dislikes', 'views']));
    }

    match /settings/{settingsId} {
      // Anyone can read public config settings
      allow read: if true;

      // Only the authenticated admin can write config settings
      allow write: if request.auth != null && 
                    request.auth.token.email != null &&
                    request.auth.token.email in ["mdhassan1738@gmail.com", "alifraja404@gmail.com", "mdnoor4860@gmail.com", "Alifraja404@gmail.com", "Mdnoor4860@gmail.com", "AlifRaja404@gmail.com", "MdNoor4860@gmail.com"];
    }

    match /subscribers/{subscriberId} {
      // Anyone can add themselves to the audience
      allow create: if true;

      // Only the admin can read, modify or delete the audience database
      allow read, update, delete: if request.auth != null && 
                                     request.auth.token.email != null &&
                                     request.auth.token.email in ["mdhassan1738@gmail.com", "alifraja404@gmail.com", "mdnoor4860@gmail.com", "Alifraja404@gmail.com", "Mdnoor4860@gmail.com", "AlifRaja404@gmail.com", "MdNoor4860@gmail.com"];
    }
  }
}
