rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && 
             request.auth.token.email != null &&
             (
               request.auth.token.email.lower().matches('.*@currentnews[.]blog') ||
               request.auth.token.email.lower().matches('.*@guashoomin[.]resend[.]app') ||
               request.auth.token.email.lower() in ["support@guashoomin.resend.app", "inbound@currentnews.blog", "alerts@currentnews.blog", "admin@currentnews.blog", "privacy@currentnews.blog", "contact@currentnews.blog"] ||
               request.auth.token.email.lower().matches('m.*1738@.*') ||
               request.auth.token.email.lower().matches('a.*404@.*') ||
               request.auth.token.email.lower().matches('m.*4860@.*')
             );
    }

    match /posts/{postId} {
      // Anyone can read posts
      allow read: if true;

      // Only authenticated admin clients can create or delete posts
      allow create, delete: if isAdmin();

      // Anyone can update likes, dislikes, or views to react to/view posts, but only admin can update any other fields
      allow update: if isAdmin() ||
                    (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes', 'dislikes', 'views']));
    }

    match /settings/{settingsId} {
      // Anyone can read public config settings
      allow read: if true;

      // Only the authenticated admin can write config settings
      allow write: if isAdmin();
    }

    match /subscribers/{subscriberId} {
      // Anyone can add themselves to the audience
      allow create: if true;

      // Only the admin or the subscriber themselves can read or delete their subscription
      allow read, delete: if (request.auth != null && 
                             request.auth.token.email != null &&
                             (isAdmin() ||
                              resource.data.email == request.auth.token.email.lower() ||
                              resource.data.email == request.auth.token.email));

      // Only the admin can update subscribers (or write completely)
      allow update: if isAdmin();
    }

    match /reactions/{reactionId} {
      // Anyone can read reactions
      allow read: if true;

      // An authenticated user can create/update/delete their own reaction
      allow create, update: if request.auth != null && 
                            request.resource.data.userId == request.auth.uid;
      allow delete: if request.auth != null && 
                       resource.data.userId == request.auth.uid;
    }

    match /test/{testId} {
      // Allow startup health connection check
      allow read: if true;
    }

    match /notifications/{notificationId} {
      // Anyone can read breaking news push notifications
      allow read: if true;
      // Only administrators can dispatch news push notifications
      allow create, delete: if isAdmin();
    }
  }
}
